.menu_div{
  height: 1510px;
  width: 100%;
  background-color: #0c0c0c;
}
.menu_head_txt{
  color: white;
  font-size: 24px;
  font-family: "Cormorant Upright",serif;
  padding-top: 45px;
  margin-bottom: -7px;
}
.headtext__cormorant {
  color: #dcca87;
  font-family: "Cormorant Upright",serif;
  font-size: 64px;
  letter-spacing: .04em;
  line-height: 83.2px;
  text-transform: capitalize;
  padding-top: 15px;
}
.menu_list{
  
  height: 1000px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.menu_list_side{
  height: 100%;
  width: 23%;
}
.menu_list_mid{
  height: 100%;
  width: 43%;
}
.menu_mid_img{
  height: 100%;
  width: 100%;
}
.menu_list_item{
  font-feature-settings: "tnum" on,"lnum" on;
  font-size: 24px;
  line-height: 29.9px;
  color: rgb(220, 202, 135);
  padding-top: 20px;
  margin-bottom: -3px;
  width: 80%;
}
.menu_list_desc{
  font-feature-settings: "tnum" on,"lnum" on;
  font-size: 18px;
  line-height: 29.9px;
  color: rgb(170, 170, 170);
}
.menu_hr_line
{
  width: 30%;
}
.menu_list_item_div{
  width: 50%;
}
.menu_slide_bar{
  height: 300px;
  width: 60%;
  margin-top: 60px;
  background-color: red;
  margin-bottom:30px;
}
.menu_slide_img{
  height: 100%;
  width: 100%;
}
.menu_part2{
  height: 120vh;
  width: 100%;
  display: flex;
  padding-top: 10vh;
  
}
.menu_part2_left{
  height: 100%;
  width: 50%;
  padding-top: 89px;
  padding-left: 125px;
}
.ml_obj:hover{
  transform: scale(1.1);
}
.menu_part2_right{
  height: 100%;
  width: 50%;
  padding-left: 30px;
  padding-top: 10px;
}
.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.grids{
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
}
.card_img{
  height: 270px;
  width: 160px;
}
.card_btn{
  background-color: #dcca87;
}